grammar.out
source/grammar.cpp
source/tokentypes.hpp
source/tokenizer.cpp

build
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
